In [2]:
# Importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Importing the dataset
df = pd.read_csv('../data/NASDAQ_100_Data_From_2010.csv')

# Display head of the dataset
df.head()

  Date\tOpen\tHigh\tLow\tClose\tAdj Close\tVolume\tName
0  2010-01-04\t7.622499942779541\t7.6607141494750...
1  2010-01-05\t7.664286136627197\t7.6996431350708...
2  2010-01-06\t7.656428813934326\t7.6867861747741...
3  2010-01-07\t7.5625\t7.5714287757873535\t7.4660...
4  2010-01-08\t7.510714054107666\t7.5714287757873...